<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="百度地图,百度地图API，百度地图自定义工具，百度地图所见即所得工具"/>
    <meta name="description" content="百度地图API自定义地图，帮助用户在可视化操作下生成百度地图"/>
    <title>百度地图API自定义地图</title>
    <!--引用百度地图API-->
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=5xuOvTSWEd9AAA5G9I26uM1sZSpUGqnd"></script>
</head>
<body>
<!--百度地图容器-->
<div style="height:600px;margin:20px auto 0 auto;font-size:12px" id="map"></div>
<!-- <div style="width:700px;height:550px;font-size:12px" id="map"></div> -->
<script>
    var w = document.body.scrollWidth;
    var h = document.body.scrollHeight;
    document.getElementById("map").style.width = w*0.9 + 'px';
    document.getElementById("map").style.height = h*1.2 + 'px';
    console.log(w);
    console.log(h);


</script>
</body>

<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
      createMap();//创建地图
      setMapEvent();//设置地图事件
      addMapControl();//向地图添加控件
      addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){ 
      map = new BMap.Map("map"); 
      map.centerAndZoom(new BMap.Point(120.130361,30.282419),14);
    }
    function setMapEvent(){
      map.enableScrollWheelZoom();
      map.enableKeyboard();
      map.enableDragging();
      map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
      target.addEventListener("click",function(){
        target.openInfoWindow(window);
      });
    }


    function addMapOverlay(){

      var markers = [

      ];




       var warnings=[

       ]
        var aaa = {{ dic_all|safe }}
            var bbb = {{ warning_all|safe }}
        l = []
                for(var y in bbb){l.push(bbb[y]['name']);warnings.push({title:bbb[y]['name'],imageOffset: {width:0,height:3},position:{lat:bbb[y]['lat'],lng:bbb[y]['lng']}})}
        console.log('l',l)
        for(var x in aaa){
            console.log(aaa[x]['name'])
            if (l.indexOf(aaa[x]['name'])==-1){markers.push({title:aaa[x]['name'],imageOffset: {width:0,height:3},position:{lat:aaa[x]['lat'],lng:aaa[x]['lng']}})}
            else{
            console.log('存在')}
        }

        console.log('markers',markers)

      for(var index = 0; index < markers.length; index++ ){
        var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);

        var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
          imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
        })});

        var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
        var opts = {
          width: 200,
          title: markers[index].title,
          enableMessage: false
        };
        var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
        //marker.setLabel(label);

        addClickHandler(marker,infoWindow);
        map.addOverlay(marker);

      };
      for(var index1 = 0; index1 < warnings.length; index1++ ){
        var red_point = new BMap.Point(warnings[index1].position.lng,warnings[index1].position.lat);

        var red_marker = new BMap.Marker(red_point);

        var label1 = new BMap.Label(warnings[index1].title,{offset: new BMap.Size(25,5)});
        var opts1 = {
          width: 200,
          title: warnings[index1].title,
          enableMessage: false
        };
        var infoWindow1 = new BMap.InfoWindow(warnings[index1].content,opts1);
        //red_marker.setLabel(label1);

        addClickHandler(red_marker,infoWindow1);
        map.addOverlay(red_marker);
        red_marker.setAnimation(BMAP_ANIMATION_BOUNCE);
      };

    console.log(markers)
      console.log(warnings)

    }

    //向地图添加控件
    function addMapControl(){
      var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
      scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
      map.addControl(scaleControl);
      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
      map.addControl(navControl);
      var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
      map.addControl(overviewControl);
    }
    var map;
      initMap();



</script>

<script>

</script>
</html>